.about {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 150px;
}

.about-content {
  max-width: 60%;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: left;
}

.about p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  max-width: 700px;
}

.about-rectangles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rectangle {
  background-color: #ccc;
  border-radius: 8px;
  width: 200px;
  height: 100px;
}

