/* General Styles */
body, html {
  height: 100%;
  margin: 0;
  background-color: #F4F4E2;
}

.about {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 50px;
  flex-direction: row; /* Keep this as row for larger screens */
}

.about-content {
  max-width: 60%;
  color: #3B3b3b;
}

.about h1 {
  font-size: 24pt;
  margin-bottom: 10px;
  text-align: left;
}

.about p {
  font-size: 14pt;
  margin-top: 0;
  text-align: left;
  max-width: 500px;
}

/* Rectangle container styling */
.rectangle-container {
  display: flex;
  flex-direction: column; /* Stack rectangle and arrows vertically */
  align-items: center; /* Center align the contents */
  margin-left: 100px; /* Adjust left margin */
  margin-top: 30px; /* Adjust top margin */
}

.about-rectangle {
  display: flex;
  justify-content: center; /* Center the rectangle */
}

.about-rectangle .rectangle {
  background-color: #ccc;
  border-radius: 10px;
  width: 400px;
  height: 533px; /* Updated height for 3:4 aspect ratio */
}

/* Media Queries */

/* Tablets (1024px and below) */
@media (max-width: 1024px) {
  .about {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center align all children */
    padding: 15px;
    margin-left: 0;
    margin-top: 120px; /* Increased margin-top for tablets to lower content */
  }

  .about-content {
    max-width: 90%;
    text-align: center; /* Center text for better readability on tablets */
  }

  .about h1 {
    font-size: 22pt; /* Slightly smaller for tablets */
  }

  .about p {
    font-size: 13pt; /* Adjust font size */
  }

  .rectangle-container {
    margin-left: 0;
    margin-top: 20px; /* Adjust margin as needed */
  }

  .about-rectangle .rectangle {
    width: 350px; /* Smaller rectangle for tablets */
    height: 467px; /* Adjusted for 3:4 aspect ratio */
  }
}

.email-link {
  text-decoration: underline;
  color: #3B3b3b; /* Change back to the desired color */
}

.arrow-container {
  display: flex;
  justify-content: center; /* Center arrows below the rectangle */
  margin-top: 10px; /* Adjust spacing as needed */
}

.arrow {
  font-size: 24px; /* Adjust size as needed */
  color: #3b3b3b;
  margin: 0 20px; /* Space between arrows */
  cursor: pointer; /* Indicate that arrows are clickable */
  transition: color 0.3s;
}

.arrow:hover {
  color: #007BFF; /* Change color on hover */
}
