.home {
  margin-top: 100px; 
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 50px;
}

.home-content {
  max-width: 60%;
}

.home h1 {
  font-size: 24pt;
  margin-bottom: 10px;
  text-align: left;
}

.home p {
  font-size: 14pt;
  margin-top: 0;
  text-align: left;
  max-width: 500px;
}

/* Rectangle styling */
.home-rectangle {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 30px;
}

.home-rectangle .rectangle {
  background-color: #ccc;
  border-radius: 10px;
  width: 400px;
  height: 550px;
}
